/* Color Variables */

/*   main background & buttons colors   */
$dark: #212529;
$dark-color: #f5f5f5;
$light: #fefeff;
$light-color: #3e363f;
$primary: #007bff;
$primary-color: #ffffff;
$success: #28a745;
$success-color: #ffffff;
$warning: #ffc107;
$warning-color: #3e363f;
$info: #17a2b8;
$info-color: #ffffff;
$danger: #dc3545;
$danger-color: #f5f5f5;
$secondary: #6c757d;
$secondary-color: #ffffff;

/*  black   */

$blackCoral: #696d7d;
$blackIntense: #090a0b;
$blackCoffe: #3e363f;
$blackIndependence: #505168;

/*  silver  */

$silverSand: #c7ccd1;
$silverCadetBlue: #a5adb6;

/*  green   */

$greenXanadu: #6f9283;
$greenFeldGrau: #465d53;
$greenMediumTurquoise: #6dd6da;
$greenDeepJungle: #145052;
$greenAcid: #b8b42d;
$greenStraw: #dfdc7c;
$greenAvocado: #697a21;
$greenDeepSpace: #466362;
$greenDarkMoss: #3f612d;
$greenErin: #19f056;
$greenSlimy: #0a9932;
$greenShade: #4caf50;

/*  gray  */

$grayWeb: #817f82;
$grayLight: #cccbcd;
$grayJet: #333234;
$grayCool: #8896ab;
$grayCultured: #f7f7f7;

/*  yellow   */

$yellowCosmicLatte: #fffce8;
$yellowCorn: #ffec70;
$yellowPantone: #ffe11f;
$yellowOlive: #8f7c00;
$yellowMustard: #ffdd4a;
$yellowGold: #ffd61f;
$yellowSaffron: #e0b700;
$yellowMellowApricot: #ffbf69;
$yellowLaserLemon: #f7ff58;

/*  orange  */

$orange: #fe9000;
$orangeLiver: #b86800;
$orangeYellow: #ffb85c;
$orangeGoldCrayola: #ecba82;
$orangePeel: #ff9f1c;
$orangeAtomicTangerine: #ff934f;

/*  red   */

$redCG: #dd403a;
$redPastelPink: #f0aaa8;
$redRuby: #9d1f1b;
$redCrimson: #8c1c18;
$redBlackBean: #460e0c;

/*  blue    */

$blueColumbia: #d9f0ff;
$blueBabyEyes: #a3d5ff;
$blueLightSky: #83c9f4;
$blueDodger: #0a91ff;
$blueBrightNavy: #007be0;
$blueLapisLazuli: #005aa3;
$blueStarCommand: #107abc;
$blueIndigoDye: #094074;
$blueQueenBlue: #3c6997;

/*  violet  */

$violetCrayola: #6f73d2;
$violetOceanBlue: #4549c4;
$violetBluePigment: #31349b;
$violetLavender: #c2bbf0;

/*  brown   */

$brownRawUmber: #7e6551;
$brownBeaver: #a78c76;
$brownUmber: #645040;

/*  purple  */

$purpleDark: #27233a;
$purpleCyberGrape: #4c4573;

/*   white   */

$whitePlain: #ffffff;
$whitePlatinum: #ebebeb;
$whiteGainsboro: #e0e0e0;
$whiteCultured: #f5f5f5;
$whiteLinen: #ffeddf;
$dutchWhite: #ece2c1;
// COLOR VARIABLES ENDS
