.align-items-center {
    display: flex !important;
    align-items: center !important;
}

.align-items-start {
    display: flex !important;
    align-items: flex-start !important;
}

.align-items-end {
    display: flex !important;
    align-items: flex-end !important;
}

.justify-content-center {
    display: flex !important;
    justify-content: center !important;
}

.justify-content-start {
    display: flex !important;
    justify-content: flex-start !important;
}

.justify-content-end {
    display: flex !important;
    justify-content: flex-end !important;
}

.space-between {
    display: flex !important;
    justify-content: space-between !important;
}

.space-around {
    display: flex !important;
    justify-content: space-around !important;
}

.space-evenly {
    display: flex !important;
    justify-content: space-evenly !important;
}

.gap-10 {
    display: flex !important;
    gap: 10px !important;
}

.gap-20 {
    display: flex !important;
    gap: 20px !important;
}

.gap-30 {
    display: flex !important;
    gap: 30px !important;
}

.gap-40 {
    display: flex !important;
    gap: 40px !important;
}

.gap-50 {
    display: flex !important;
    gap: 50px !important;
}

.gap-60 {
    display: flex !important;
    gap: 60px !important;
}

.gap-70 {
    display: flex !important;
    gap: 70px !important;
}

.gap-80 {
    display: flex !important;
    gap: 80px !important;
}

.gap-90 {
    display: flex !important;
    gap: 90px !important;
}

.gap-100 {
    display: flex !important;
    gap: 100px !important;
}
