.h25 {
    height: 25vh !important;
}

.h50 {
    height: 50vh !important;
}

.h75 {
    height: 75vh !important;
}

.h100 {
    height: 100vh !important;
}

.min-h25 {
    height: auto !important;
    min-height: 25vh !important;
}

.min-h50 {
    height: auto !important;
    min-height: 50vh !important;
}

.min-h75 {
    height: auto !important;
    min-height: 75vh !important;
}

.min-h100 {
    height: auto !important;
    min-height: 100vh !important;
}
