.rotate-5 {
    transform: rotate(-5deg) !important;
}
.rotate-10 {
    transform: rotate(-10deg) !important;
}

.rotate-20 {
    transform: rotate(-20deg) !important;
}

.rotate-30 {
    transform: rotate(-30deg) !important;
}

.rotate-40 {
    transform: rotate(-40deg) !important;
}

.rotate-50 {
    transform: rotate(-50deg) !important;
}

.rotate-60 {
    transform: rotate(-60deg) !important;
}

.rotate-70 {
    transform: rotate(-70deg) !important;
}

.rotate-80 {
    transform: rotate(-80deg) !important;
}

.rotate-90 {
    transform: rotate(-90deg) !important;
}

.rotate-100 {
    transform: rotate(-100deg) !important;
}
.rotate-110 {
    transform: rotate(-110deg) !important;
}

.rotate-120 {
    transform: rotate(-120deg) !important;
}

.rotate-130 {
    transform: rotate(-130deg) !important;
}

.rotate-140 {
    transform: rotate(-140deg) !important;
}

.rotate-150 {
    transform: rotate(-150deg) !important;
}

.rotate-160 {
    transform: rotate(-160deg) !important;
}

.rotate-170 {
    transform: rotate(-170deg) !important;
}

.rotate-180 {
    transform: rotate(-180deg) !important;
}

.rotate5 {
    transform: rotate(5deg);
}

.rotate10 {
    transform: rotate(10deg) !important;
}

.rotate20 {
    transform: rotate(20deg) !important;
}

.rotate30 {
    transform: rotate(30deg) !important;
}

.rotate40 {
    transform: rotate(40deg) !important;
}

.rotate50 {
    transform: rotate(50deg) !important;
}

.rotate60 {
    transform: rotate(60deg) !important;
}

.rotate70 {
    transform: rotate(70deg) !important;
}

.rotate80 {
    transform: rotate(80deg) !important;
}

.rotate90 {
    transform: rotate(90deg) !important;
}

.rotate100 {
    transform: rotate(100deg) !important;
}

.rotate110 {
    transform: rotate(110deg) !important;
}

.rotate120 {
    transform: rotate(120deg) !important;
}

.rotate130 {
    transform: rotate(130deg) !important;
}

.rotate140 {
    transform: rotate(140deg) !important;
}

.rotate150 {
    transform: rotate(150deg) !important;
}

.rotate160 {
    transform: rotate(160deg) !important;
}

.rotate170 {
    transform: rotate(170deg) !important;
}

.rotate180 {
    transform: rotate(180deg) !important;
}
