.spacer {
    width: 100%;
}
.spacer.xs {
    height: 15px;
}

.spacer.sm {
    height: 25px;
}

.spacer.md {
    height: 50px;
}

.spacer.lg {
    height: 100px;
}

.spacer.xl {
    height: 150px;
}

.spacer.xxl {
    height: 225px;
}
