.form-group {
    display: block;
}

.form-group.form-row {
    display: flex;
    flex-flow: row wrap !important;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    gap: 5px;
    & .form-item {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        min-width: 200px;
    }
    & > * {
        flex-shrink: 0;
        max-width: 100%;
        width: auto;
    }
}

.form-group.form-row.form-inline {
    & .form-item {
        & label {
            width: 30%;
            text-align: right;
        }
    }
}

.form-group.form-inline .form-item {
    align-items: center;
}

.form-item.form-row,
.form-group.form-inline .form-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 0;
    & label {
        margin-right: 5px;
        width: 20%;
        margin-left: 0;
        word-wrap: break-word;
    }
    & .radio-item {
        & label {
            word-wrap: unset;
            margin-left: 5px;
        }
    }
    & .radio-group {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    & input[type="range"] {
        width: 80%;
        position: absolute;
        right: 0;
    }
    & input,
    & select,
    & textarea {
        margin-right: 0;
    }
    & .input-label {
        & input {
            width: 100%;
            margin-right: 0;
            margin-left: 0;
        }
    }
    & .error-section {
        position: absolute;
        top: -10px;
        right: 0px;
    }
}
